body {
  /* padding: 1em; */
}

div.gamebundle-error {
  pointer-events: none;
  display: none;

  position: fixed;
  box-sizing: border-box;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  color: rgb(232, 232, 232);
  font-family: Menlo, Consolas, monospace;
  font-size: large;
  padding: 2rem;
  line-height: 1.2;
  overflow: auto;
}

div.gamebundle-error.active {
  pointer-events: all;
  display: block;
}

div.gamebundle-error .error,
div.gamebundle-error .stack {
  white-space: pre-wrap;
  margin-top: 1em;
}

div.gamebundle-error .error {
  color: rgb(227, 96, 73);
}

/* close button */
div.gamebundle-error button {
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  float: right;
}